.color-picker .react-colorful {
  height: 100px;
  width: 100px;
}
.color-picker .react-colorful__hue {
  height: 10px;
  border-radius: 0 0 4px 4px;
}

.color-picker .react-colorful__saturation-pointer,
.color-picker .react-colorful__hue-pointer{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
}

.color-picker .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
